<app-auth-layout
  [title]="title"
  [highlight]="highlight"
  [description]="description"
  [topText]="topText"
  [topLinkText]="topLinkText"
  [topLink]="topLink"
  [logoImg]="logoImg"
>
  @if (isLogin) {
    <app-auth-login
      [formTitle]="formTitle"
      [forgotLink]="forgotLink"
      [role]="role"
    ></app-auth-login>
  }

  @if (isRegister) {
    <app-auth-register
      [formTitle]="formTitle"
      [vertifyLink]="vertifyLink"
    ></app-auth-register>
  }

  @if (isForgot) {
    <app-auth-forgot-password
      [formTitle]="formTitle"
      [vertifyLink]="vertifyLink"
    ></app-auth-forgot-password>
  }

  @if (isVerify) {
    <app-auth-verify-email
      [formTitle]="formTitle"
      [backLink]="backLink"
      [loginLink]="loginLink"
    ></app-auth-verify-email>
  }

  @if (isReset) {
    <app-auth-reset-password
      [formTitle]="formTitle"
      [loginLink]="loginLink"
    ></app-auth-reset-password>
  }
</app-auth-layout>
