.auth-form {
  width: 100%;

  h2 {
    font-size: 30px;
    font-weight: 900;
    color: #111;
    margin-top: 16px;
    margin-bottom: 14px;
  }
}

.title-line {
  width: 48px;
  height: 5px;
  background: #ff5a00;
  border-radius: 999px;
  margin-bottom: 32px;
}

.form-desc {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 28px;
}

.form-group {
  margin-top: 22px;
  margin-bottom: 22px;

  label {
    display: block;
    font-size: 17px;
    font-weight: 800;
    color: #222;
    margin-bottom: 8px;
  }
}

.input-box {
  height: 52px;
  border: 1px solid #d8d8d8;
  border-radius: 7px;

  display: flex;
  align-items: center;

  padding: 0 18px;
  background: #fff;

  i {
    font-size: 22px;
    color: #444;
    margin-right: 18px;
  }

  input {
    flex: 1;
    min-width: 0;
    border: 0;
    outline: 0;
    font-size: 17px;
    color: #333;

    &::placeholder {
      color: #9ca3af;
    }
  }
}

.eye-btn {
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;

  i {
    margin: 0;
    font-size: 22px;
  }
}

.main-btn {
  width: 100%;
  height: 58px;

  border: 0;
  border-radius: 6px;

  background: #ff5a00;
  color: #fff;

  font-size: 22px;
  font-weight: 800;

  margin-top: 8px;

  &:hover {
    background: #e84f00;
  }
}

.admin-note {
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.7;
  color: #333;
}

/* 平板 */
@media (min-width: 768px) and (max-width: 1024px) {
  .auth-form {
    h2 {
      font-size: 28px;
      margin-top: 0;
      margin-bottom: 8px;
    }
  }

  .title-line {
    width: 42px;
    height: 4px;
    margin-bottom: 26px;
  }

  .form-desc {
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 26px;
  }

  .form-group {
    margin-top: 0;
    margin-bottom: 22px;

    label {
      font-size: 15px;
      margin-bottom: 8px;
    }
  }

  .input-box {
    height: 48px;
    padding: 0 14px;

    i {
      font-size: 18px;
      margin-right: 14px;
    }

    input {
      font-size: 15px;
    }
  }

  .main-btn {
    height: 50px;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 12px;
  }

  .notice {
    font-size: 14px;
    line-height: 1.7;
    text-align: center;
  }
}

/* 手機 */
@media (max-width: 767px) {
  .auth-form {
    h2 {
      font-size: 26px;
      margin-top: 10;
      margin-bottom: 8px;
    }
  }

  .title-line {
    width: 40px;
    height: 4px;
    margin-bottom: 20px;
  }

  .form-desc {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  .form-group {
    margin-top: 0;
    margin-bottom: 22px;

    label {
      font-size: 14px;
      margin-bottom: 8px;
    }
  }

  .input-box {
    height: 45px;
    padding: 0 16px;

    i {
      font-size: 15px;
      margin-right: 16px;
    }

    input {
      font-size: 15px;
    }
  }

  .eye-btn i {
    font-size: 20px;
  }

  .main-btn {
    height: 45px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 10px;
  }

  .notice {
    font-size: 14px;
    line-height: 1.7;
    text-align: center;
  }
}