<section class="notification-page">
  <div class="page-header">
    <h1>通知中心</h1>
  </div>

  <div class="tabs">
    <button
      type="button"
      *ngFor="let tab of tabs"
      [class.active]="activeTab === tab"
      (click)="setTab(tab)"
    >
      {{ tab }}
    </button>
  </div>

  <div class="notification-list">
    <article
      class="notification-card"
      *ngFor="let item of pagedNotifications()"
      [class.unread]="item.unread"
    >
      <div class="dot" [class.show]="item.unread"></div>

      <i class="notice-icon" [class]="item.icon" [ngClass]="item.iconClass"></i>

      <h3>
        <span class="status-text">【{{ item.status }}】</span>
        {{ item.title }}
      </h3>

      <time>{{ item.date }}</time>
    </article>
  </div>
  <div class="pagination">
    <button type="button" [disabled]="currentPage === 1" (click)="setPage(currentPage - 1)">
      <i class="bi bi-chevron-left"></i>
    </button>

    @for (page of pages(); track page) {
      <button type="button" [class.active]="currentPage === page" (click)="setPage(page)">
        {{ page }}
      </button>
    }

    <button
      type="button"
      [disabled]="currentPage === totalPages()"
      (click)="setPage(currentPage + 1)"
    >
      <i class="bi bi-chevron-right"></i>
    </button>
  </div>
</section>
